body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: linear-gradient(to bottom right, rgba(0, 102, 255, 0.959), rgba(174, 0, 255, 0.795));
}

h1 {
    font-style: italic;
    text-align: center;
}

.image-cards {
        border-radius: 50px;
        width: 200px;
        height: 150px;
        object-fit: cover;
        

}